@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  font-family: 'Tajawal', system-ui, sans-serif;
}

[dir='rtl'] * {
  font-feature-settings: 'rlig' 1, 'calt' 1;
}
